@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Phone: 511-334-618
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mkopowka@wp.pl">mkopowka@wp.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:jagniee@gmail.com">jagniee@gmail.com</a>
</address>

Dane do przelewu:<br />

Nazwa Firmy: Kopshop<br />
Numer Konta : 11 2222 3333 4444 5555 6666 7777<br />
Adres : Ul. Klonowa 7, Siedlce <br />
Tytuł : Nazwa zamówienia <br />
Kwota : Kwota zamówienia + Kurier 16zł <br />
