@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Phone: 000-000-000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@royalstore.com">support@royalstore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:collaboration@royalstore.com"> collaboration@royalstore.com</a>
</address>

Bank Account:<br />

Store Name: Royal Store<br />
Account nAME : 11 2222 3333 4444 5555 6666 7777<br />
Aaddress : Ul. Klonowa 7, Siedlce <br />
Title : Nazwa zamówienia <br />
Total : Total Price + Shipping 16zł <br />
